body {
    margin: 0;
    text-align: center;
    font-family: "Monsterrat";
    font-weight: 500;
    color: white;
    background-color: #111216;
}

p {
    text-align: center;
    font-size: 14px;
    padding: 50px;
    text-wrap: pretty;
}

a {
    text-decoration: underline;
    color: #5c7af1;
}

a:hover {
    text-decoration: underline;
    color: #5c7af1;
}

button {
    border-radius: 8px;
    background-color: #1f2024;
    border-color: #2c2e34;
    border: none;
    width: 135px;
    height: 45px;
}

button:hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: #2c2e34;
    border-color: #2c2e34;
    cursor: pointer;
}